<section class="relative isolate delayed-appear1 overflow-hidden bg-white px-6 py-24 sm:py-32 lg:px-8 max-w-4xl mx-auto shadow-xl">
  <div class="absolute inset-0 -z-10 bg-[radial-gradient(45rem_50rem_at_top,var(--color-indigo-100),white)] opacity-20"></div>
  <div class="absolute inset-y-0 right-1/2 -z-10 mr-16 w-[200%] origin-bottom-left skew-x-[-30deg] bg-white shadow-xl ring-1 shadow-indigo-600/10 ring-indigo-50 sm:mr-28 lg:mr-0 xl:mr-16 xl:origin-center"></div>
  <div class="mx-auto max-w-2xl lg:max-w-4xl">
    <img src="logo.png" alt="" class="mx-auto h-12" />
    <figure class="mt-10">
      <blockquote class="text-center text-xl/8 font-semibold text-gray-900 sm:text-2xl/9">
        <p>“A full-stack developer who builds projects for fun and learning is someone passionate about exploring both front-end and back-end technologies. I enjoy experimenting with new frameworks, tools, and programming languages to sharpen their skills and gain practical knowledge. Beyond just coding, I see side projects as a creative playground to solve problems, test ideas, and continuously grow as a developer.”</p>
      </blockquote>
      <figcaption class="mt-10">
        <img src="me.png" alt="" class="mx-auto size-15 rounded-full animate-pulse" />
        
        <div class="mt-4 flex items-center justify-center space-x-3 text-base">
          <div class="font-semibold text-gray-900 text-lg">Vidit Sharma</div>
          <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
            <circle r="1" cx="1" cy="1" />
          </svg>
          <div class="text-gray-900 font-semibold text-lg text-lg">Neo</div>
        </div>

        <div class="mt-4 flex items-center justify-center space-x-3 text-base">
            <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
            <circle r="1" cx="1" cy="1" />
            </svg>
            <div class=" text-gray-900 text-lg">vidit19sharma@gmail.com</div>
            <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
            <circle r="1" cx="1" cy="1" />
          </svg>
        </div>
                
        <div class="mt-4 flex items-center justify-center space-x-3 text-base">
          <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
            <circle r="1" cx="1" cy="1" />
          </svg>
          <div class=" text-gray-900">+91-9717687299</div>
          <svg viewBox="0 0 2 2" width="3" height="3" aria-hidden="true" class="fill-gray-900">
            <circle r="1" cx="1" cy="1" />
          </svg>
          </div>
      </figcaption>
    </figure>
  </div>
</section>
