<div class="bg-white/50 delayed-appear1 rounded pt-10 pb-5 border-1 border-neutral-300 px-5 shadow-lg mx-auto max-w-3xl">
    <div class="mx-auto max-w-2xl text-center">
        <h2 class="text-4xl font-semibold tracking-tight text-balance text-gray-900 sm:text-5xl">Contact US</h2>
        <p class="mt-2 text-lg/8 text-gray-500">You Can Contact Us by following means </p>
    </div>

    <!-- links -->
    <div class="grid grid-cols-1 gap-x-8 gap-y-6 sm:grid-cols-2 mt-10 text-center">

        <!-- email -->
        <div class="max-w-l bg-white rounded-lg h-44 p-10 flex flex-col gap-y-6 shadow-xs hover:shadow-xl">
            <i class="fa-solid fa-envelope text-5xl text-sky-500 animate-pulse-custom"></i>
            <a href="mailto:vidit19sharma.com" target="_blank" class="rounded-md bg-gradient-to-r from-indigo-500 via-sky-500 to-lime-500  px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:opacity-90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:shadow-xl">Mail Us <span aria-hidden="true">→</span></a>    
        </div>

        <!-- phone -->
        <div class="max-w-l bg-white rounded-lg h-44 p-10 flex flex-col gap-y-6 shadow-xs hover:shadow-xl">
            <i class="fa-solid fa-phone text-5xl text-green-500 animate-pulse-custom"></i>
            <a href="tel:+919717687299" target="_blank" class="rounded-md bg-gradient-to-r from-indigo-500 via-sky-500 to-lime-500  px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:opacity-90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:shadow-xl">Call Us <span aria-hidden="true">→</span></a>    
        </div>

        <!-- Github -->
        <div class="max-w-l bg-white rounded-lg h-44 p-10 flex flex-col gap-y-6 shadow-xs hover:shadow-xl">
            <i class="fa-brands fa-github text-5xl text-stone-800 animate-pulse-custom"></i>
            <a href="https://github.com/vidit19sharma" target="_blank" class="rounded-md bg-gradient-to-r from-indigo-500 via-sky-500 to-lime-500  px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:opacity-90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:shadow-xl">Check Github <span aria-hidden="true">→</span></a>    
        </div>

        <!-- insta -->
        <div class="max-w-l bg-white rounded-lg h-44 p-10 flex flex-col gap-y-6 shadow-xs hover:shadow-xl">
            <i class="fa-brands fa-instagram text-5xl text-rose-600 animate-pulse-custom"></i>
            <a href="https://www.instagram.com/vidit19sharma" target="_blank" class="rounded-md bg-gradient-to-r from-indigo-500 via-sky-500 to-lime-500 px-3.5 py-2.5 text-sm font-semibold text-white shadow-xs hover:opacity-90 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600 hover:shadow-xl">Connect on Instagram <span aria-hidden="true">→</span></a>    
        </div>
    </div>


</div>