<!doctype html>
<html>
        <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon"  href="/logo-only.png">
        <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
        <script src="/main.js"></script>
        <link rel="stylesheet" href="/css/index.css">
        <script src="https://kit.fontawesome.com/644ef17f85.js" crossorigin="anonymous"></script>
    </head>
    <body>

        <header class="absolute inset-x-0 top-0 z-50">
            <nav aria-label="Global" class="flex items-center justify-between p-6 lg:px-8 ">
      
                <!-- logo  -->
                <div class="flex lg:flex-1">
                    <a href="/" class="-m-1.5 p-1.5 lg:bg-white lg:rounded-full hover:animate-pulse ">
                        <span class="sr-only">Inventory Pro</span>
                        <img src="/logo.png" alt="Inventory Pro logo" class="h-10 w-auto" />
                    </a>
                </div>
        
                <!-- the hidder burger menu -->
                <div class="flex lg:hidden">
                    <button type="button" command="show-modal" commandfor="mobile-menu" class="-m-2.5 inline-flex items-center justify-center rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Open main menu</span>
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                            <path d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                </div>
        
                <!-- Nav menu -->
                <div class="hidden lg:flex lg:gap-x-12">
                    <% if(locals.userName){ %>
                        <a href="/products" class="text-base/6 font-semibold text-gray-900">Products</a>
                    <% }else{ %> 
                        <a href="/signup" class="text-base/6 font-semibold text-gray-900">Sign Up</a>
                    <% } %>
                    <a href="/features" class="text-base/6 font-semibold text-gray-900">Features</a>
                    <a href="/contact" class="text-base/6 font-semibold text-gray-900">Contact US</a>
                    <a href="/about" class="text-base/6 font-semibold text-gray-900">About US</a>
                </div>

                <!-- login button -->
                <div class="hidden lg:flex lg:flex-1 lg:justify-end">
                    <% if(locals.userName){ %>
                        <a href="/logout" class="text-base/6 font-semibold text-gray-900">Log Out <span aria-hidden="true">&rarr;</span></a>
                    <% }else{ %>
                        <a href="/login" class="text-base/6 font-semibold text-gray-900">Log In <span aria-hidden="true">&rarr;</span></a>
                    <% } %> 
                </div>
            </nav>

            <!-- the menu bar of burger button -->
            <el-dialog>
            <dialog id="mobile-menu" class="backdrop:bg-transparent lg:hidden">
                <div tabindex="0" class="fixed inset-0 focus:outline-none">
                <el-dialog-panel class="fixed inset-y-0 right-0 z-50 w-full overflow-y-auto bg-white p-6 sm:max-w-sm sm:ring-1 sm:ring-gray-900/10">
                    <div class="flex items-center justify-between">
                    <a href="#" class="-m-1.5 p-1.5">
                        <span class="sr-only">Inventory Pro</span>
                        <img src="/logo.png" alt="" class="h-8 w-auto" />
                    </a>
                    <button type="button" command="close" commandfor="mobile-menu" class="-m-2.5 rounded-md p-2.5 text-gray-700">
                        <span class="sr-only">Close menu</span>
                        <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.5" data-slot="icon" aria-hidden="true" class="size-6">
                        <path d="M6 18 18 6M6 6l12 12" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </button>
                    </div>
                    <div class="mt-6 flow-root">
                    <div class="-my-6 divide-y divide-gray-500/10">
                        <div class="space-y-2 py-6">
                            <% if(locals.userName){ %>
                                <a href="/products" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Products</a>
                            <% } %> 
                            <a href="/features" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Features</a>
                            <a href="/contact" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Contact US</a>
                            <a href="/about" class="-mx-3 block rounded-lg px-3 py-2 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">About US</a>
                        </div>
                        <div class="py-6">
                            <% if(locals.userName){ %>
                                <span class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-bold text-gray-900 hover:bg-gray-50">Welcome <%= locals.userName %></span>
                                <a href="/logout" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log Out</a>
                            <% }else{ %>
                                <a href="/signup" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Sign Up</a>
                                <a href="/login" class="-mx-3 block rounded-lg px-3 py-2.5 text-base/7 font-semibold text-gray-900 hover:bg-gray-50">Log in</a>
                            <% } %> 
                        </div>
                    </div>
                    </div>
                </el-dialog-panel>
                </div>
            </dialog>
            </el-dialog>
        </header>

        <!-- main hero section -->
        <main class="relative isolate px-6 pt-8 lg:px-8">

            <!-- just a shape in background -->
            <div aria-hidden="true" class="absolute inset-x-0 -top-40 -z-10 transform-gpu overflow-hidden blur-3xl sm:-top-80">
                <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%-11rem)] aspect-1155/678 w-144.5 -translate-x-1/2 rotate-30 bg-gradient-to-r from-[#115aaa] from-40% via=[#23c1aa] to-[#84d555] opacity-50 sm:left-[calc(50%-30rem)] sm:w-288.75"></div>
            </div>
            
            <!------------- main content -------------------------------------------------------------->
            <div class="mx-auto max-w-6xl py-26 sm:py-26 lg:py-26">
    
            <%-body%>
            <!-- Whatever View we will select it will render here -->
            </div>
            
            <!-- just a shape in background -->
            <div aria-hidden="true" class="absolute inset-x-0 top-[calc(100%-13rem)] -z-10 transform-gpu overflow-hidden blur-3xl sm:top-[calc(100%-44rem)]">
                <div style="clip-path: polygon(74.1% 44.1%, 100% 61.6%, 97.5% 26.9%, 85.5% 0.1%, 80.7% 2%, 72.5% 32.5%, 60.2% 62.4%, 52.4% 68.1%, 47.5% 58.3%, 45.2% 34.5%, 27.5% 76.7%, 0.1% 64.9%, 17.9% 100%, 27.6% 76.8%, 76.1% 97.7%, 74.1% 44.1%)" class="relative left-[calc(50%+3rem)] aspect-1155/678 w-144.5 -translate-x-1/2 bg-gradient-to-r from-[#115aaa] from-40% via=[#23c1aa] to-[#84d555] opacity-50 sm:left-[calc(50%+36rem)] sm:w-288.75"></div>
            </div>
     
         </main>
    </body>
</html>