<form action="/" method="post">
  <div class="mb-3">
    <label for="name" class="form-label">Name</label>
    <input type="text" class="form-control" id="name" name="name" required>
    <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
  </div>
  <div class="mb-3">
    <label for="second" class="form-label">Second</label>
    <input type="text" class="form-control" id="second" name="second">
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>