<!-- This is Product View it will be render at layout -->
    <div class="product container">
    <h1>This is Product Page</h1>
    <!-- This line is not hard coded it is js -->
    <% products.forEach(product=>{ %>
    <h2><%= product.name %></h2>
    <% }) %>
    </div>
